* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.adms-title { /*? text title */
    margin-top: 50px;
    text-align: center;
}
.group-step1 , .group-step2 , .group-step3 , .group-step4 {
    text-align: center;
}
.progress-bar { 
    background-color: rgb(112, 164, 255);
    width: 12%;
}
.group-step2 {
    color: rgb(180, 180, 180);
}
.group-step3 {
    color: rgb(180, 180, 180);
}
.group-step4 {
    color: rgb(180, 180, 180);
}

.btn-next {
    background-color: rgb(47, 184, 20);
    border-radius: 20px;
    width: 100px;
    float: right;
}
