body{
    font-family: 'Kanit', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo {
    width: 100px;
    height: 45px;
    margin-left: 15px;
}
.relog {
    color: #7a7a7a;
}
.relog:hover {
    color: #000000;
}

