* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.regis-title {
    text-align: center;
    margin-top: 50px;
}

.btn-register {
    background-color: rgb(65, 131, 255);
    color: #000000;
    border-radius: 20px;
    box-shadow: 0 4px 5px rgba(0,0,0,.2);
    width: 120px;
    height: 39px;
    float: right;
    margin: 8% 0 0 0%;
}
.btn-register:hover {
    background-color: rgb(20, 95, 235);
    color: #ffffff;
}